# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Тестовые файлы
*.gcno
*.gcda
coverage/
*.gcov
*.info
coverage.html
coverage.xml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Banking
banking/build/
banking/CMakeCache.txt
banking/CMakeFiles/

# Tests
tests/build/
tests/CMakeCache.txt
tests/CMakeFiles/
